.home{
    padding: 2.5rem 0 2rem;
    .header{
        height: 2.5rem;
        background: #FFD000;
        font-size: 0.7rem;
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0;
        left: 0;
        padding: 0 0.5rem;
    
        .header-left{
            text-align: center;
            img{
                width: 0.4rem;
                margin-left: 0.1rem;
            }
            .profile-picture{
                width: 2rem;
                height: 2rem;
                background: #ccc;
                border-radius: 50%;
            }
            .location-weather{
                height: 100%;
            }
            .location-info{
                font-weight: 800;
            }
            .weather-info{
                font-size: 1rem;
                // width: 200%;
                // height: 200%;
                -webkit-transform-origin-x: 0;
                transform: scale(0.7);
                display: inline-block;
                zoom: 0.7;
                transform-origin: center;
            }
        }

        .search-input{
            background: #fff;
            border-radius: 0.4rem;
            a {
                padding-left: .5rem;
                .icn_search{
                    height: 0.7rem;
                    vertical-align: middle;
                }
                .txt_search{
                    color: #999;
                    font-size: 0.65rem;
                    padding-left: .2rem;
                }
            }
            
        }
        .header-right{
            font-size: 1.2rem;
            padding-left: 1rem;
        }
    }

    .menu{
        padding: 0.5rem 0.5rem;
        background: linear-gradient(#FFD000 20%, #FFF 80%);
        .topmenu{
            margin-bottom: 1rem;
        }
        .topmenu-item{
            text-align: center;
        }
        .topmenu-icon{
            width: 2rem;
            height: 2rem;
            background: #FFF;
            border: none;
        }
        .topmenu-name{
            display: block;
            font-size: .7rem;
            
        }
        .mainmenu{
            background: #FFF;
            border-radius: 1rem 1rem 0 0;
            padding: 0.5rem 0 0;
        }
        .menu-item{
            width: 20%;
            text-align: center;
            margin-bottom: 0.5rem;
            .menu-icon{
                display: block;
                width: 2rem;
                height: 2rem;
                background: #ffd000;
                border-radius: 1rem;
                margin: 0 auto;
            }
            .menu-name{
                display: block;
                font-size: 0.6rem;
                margin: 0 auto;
            }
        }
    }
    .list-box{
        background-color: #fff;
        border-top: 1px solid #DDD8CE;
        padding-left: 0.5rem;
        .list-header{
            font-size: 0.8rem;
            border-bottom: 1px solid #DDD8CE;
            padding: 0.5rem 0;
        }
        .list-content{
            .list-item{
                padding: 0.3rem 0;
                border-bottom: 1px solid #DDD8CE;
                .item-left{
                    background-color: #ffd000;
                    width: 4.5rem;
                    height: 4.5rem;
                }
                .item-right{
                    position: relative;
                    margin-left: 0.3rem;
                    padding-top: 0.3rem;
                    .item-name{
                        font-size: 0.7rem;
                    }
                    .item-desc{
                        font-size: 0.6rem;
                        padding-bottom: 1.3rem;
                        margin-top: 0.2rem;
                        color: #666;
                    }
                    .item-price{
                        .sale-price{
                            font-size: 0.9rem;
                            color: #F60;
                            margin-right: 0.3rem;
                            .price-unit{
                                font-size: 0.6rem;
                            }
                        }
                        .market-price{
                            font-size: 0.6rem;
                        }
                    }
                    .item-sale-num{
                        position: absolute;
                        bottom: 0.3rem;
                        right: 0.5rem;
                        font-size: 0.6rem;
                        color: #666;
                    }
                }
            }
        }
    }
    .db{
        background-color: #fff;
        padding: 0.5rem 0 0.5rem 0.5rem;
        color: #FE8C00;
        font-size: 0.75rem;
        border-bottom: 1px solid #DDD8CE;
        .db-icon{
            margin-right: 0.5rem;
        }
    }
    .footer{
        background-color: #fff;
        .location{
            padding-left: 0.75rem;
            .loc-title{
                font-size: 0.65rem;
            }
            .loc-icon{
                img{
                    width: 0.6rem;
                }
            }
            .loc-txt{
                font-size: 0.65rem;
                font-weight: 800;
            }
        }
        .footer-navbar{
            margin: 0.5rem 0;
            ul{
                li.nav-item{
                    border-right: 1px solid #333;
                    font-size: 0.5rem;
                    text-align: center;
                    color: #FE8C00;
                }
                li.nav-item:last-child{
                    border-right: none;
                }
            }
        }
        .footer-linkbar{
            text-align: center;
            ul{ 
                .link-title{
                    font-weight: bold;
                }
                .link-item{
                    display: inline-block;
                    padding:0 0.5rem;
                    font-size: 0.5rem;
                }
            }
        }
        .footer-copyright{
            margin-top: 1rem;
            padding: 0.5rem 0.75rem;
            border-top: 1px solid #DDD8CE;
            position: relative;
            .copyright-txt{
                color: #999;
                width: 10rem;
                text-align: center;
                font-size: 0.6rem;
                position: absolute;
                background: #fff;
                left: 50%;
                bottom: 0.7rem;
                margin-left: -5rem;
            }
        }
    
    }
}
