.movie-my{
    background: #f3f3f3;
    .header{
        width: 100%;

        .header-title{
            display: block;
            height: 2.5rem;
            background-color: #f03d37;
            color: #fff;
            line-height:2.5rem;
            text-align: center;
        }
        .header-profile{
            height: 7.5rem;
            background-color: #f03d37;
            position: relative;
            .profile-box{
                width: 4rem;
                height: 4rem;
                border-radius: 2rem;
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -2rem;
                margin-top: -2rem;
            }
        }
    }
    .content{
        .order-box{
            margin-top: 0.6rem;
            background-color: #fff;
            .box-top{
                height: 2rem;
                .box-top-inner{
                    width: 40%;
                    margin: 0 auto;
                    color: #000;
                    text-align: center;
                    position: relative;
                    height: 2rem;
                    font-size: 0.7rem;
                    .title{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform:translate(-50%,-50%);
                        background-color: #fff;
                        z-index: 2;
                        width: 60%;
                    }
                    .line{
                        height: 1px;
                        background-color: #e5e5e5;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        width: 100%;
                        z-index: 1;
                    }
                }
            }
            .box-content{
                .content-item{
                    text-align: center;
                    .iconfont{
                        display: inline-block;
                        font-size: 1.4rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 1.25rem;
                        line-height: 2.5rem;
                        background-color: rgb(253,72,73);
                        color: #fff;
                    }
                    .item-txt{
                        display: block;
                        font-size: 0.7rem;
                        margin: 0.5rem 0;
                    }
                }
            }
        }
        .assets-box{
            margin-top: 0.6rem;
            background-color: #fff;
            font-size: 0.7rem;
            .coupon-item{
                padding: 0.5rem 0.5rem 0.5rem 0;
                margin-left: 0.5rem;
                border-bottom: 1px solid #ccc;
                .icon-right{
                    margin-right: 0.5rem;
                }
            }
            .membercard-item{
                padding: 0.5rem 0.5rem 0.5rem 0;
                margin-left: 0.5rem;
                .icon-right{
                    margin-right: 0.5rem;
                }
            }
        }
    }

}