.movie-cinema{
    background: #fff;
    .header{
        height: 6rem;
        position: fixed;
        width: 100%;
        z-index: 99;

        .header-title{
            display: block;
            height: 2.5rem;
            background-color: #f03d37;
            color: #fff;
            line-height:2.5rem;
            text-align: center;
        }
        .nav-bar{
            position: relative;
            margin: 0 auto;
            // border-bottom: 1px solid #e6e6e6;
            background-color: #f5f5f5;
            height: 2.2rem;
            padding: 0 0.9rem;
            .search-box{
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 0.25rem;
                height: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon-search{
                    display: inline-block;
                    width: 1rem;
                    height: 1rem;
                    background-size: 1rem;
                    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg t='1576834807463' class='icon' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2760' width='32' height='32'%3E%3Cpath d='M946.222 844.994 727.729 624.668c-2.543-2.549-5.353-4.496-8.036-6.617 36.908-57.103 58.459-125.121 58.459-198.387 0-201.282-161.79-364.428-361.498-364.428-199.596 0-361.498 163.146-361.498 364.428 0 201.31 161.902 364.42 361.498 364.42 72.648 0 140.196-21.784 196.926-58.999 2.066 2.768 3.961 5.521 6.463 8.05l218.521 220.353c14.919 14.997 34.35 22.472 53.809 22.472 19.472 0 38.916-7.474 53.822-22.436C975.879 923.528 975.879 874.967 946.222 844.994M416.654 669.007c-136.347 0-247.334-111.872-247.334-249.343 0-137.45 110.988-249.351 247.334-249.351s247.334 111.901 247.334 249.351C663.989 557.134 553 669.007 416.654 669.007' p-id='2761' fill='%23cccccc'%3E%3C/path%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                }
                .txt-search{
                    display: inline-block;
                    color: #aaa;
                    font-size: 0.8rem;
                }
            }
        }
        .filter-bar{
            height: 2rem;
            font-size: 0.8rem;
            border-bottom: 1px solid #DDD8CE;
            padding: 0.5rem 0;
            background-color: #fff;
            .bar-item{
                text-align: center;
                font-size: 0.75rem;
                color: #666;
                border-right: 1px solid #ccc;
                .pull-icon{
                    font-size: 0.3rem;
                    color: #b7b7b7;
                    margin-left: 0.3rem;
                }
            }
            .bar-item:last-child{
                border: none;
            }
            
        }
    }
    .content{
        padding-top: 6.7rem;
        padding-bottom: 2.25rem;
        .cinema-list{
            .cinema-item{
                margin: 0.4rem 0.8rem;
                padding-bottom: 1rem;
                border-bottom: 1px solid #ccc;
                .item-name{
                    font-size: 0.8rem;
                    margin-bottom: 0.2rem;

                    .item-price{
                        color: #f03d37;
                        margin-left: 0.3rem;
                    }
                    .item-price-label{
                        color: #f03d37;
                        font-size: 0.6rem;
                    }
                }
                .item-address{
                    font-size: 0.6rem;
                    color: #aaa;
                    margin-bottom: 0.2rem;
                }
                .label-box{
                    color: #589daf;
                    font-size: 0.5rem;
                    margin-bottom: 0.2rem;
                    .label-item{
                        border: 1px solid #589daf;
                        border-radius: 3px;
                        margin-right: 0.3rem;
                        padding: 0 2px;
                    }
                }
                .item-activity{
                    color: rgb(177,177,177);
                    font-size: 0.5rem;
                    .activity-label{
                        background-color: rgb(74,178,246);
                        color: #fff;
                        font-size: 0.3rem;
                        border-radius: 20%;
                        padding: 0 0.1rem;
                    }
                }
                
            }
        }
    }

}