.nav-container{
    height: 3.5rem;
    background: #FFF;
    width: 100%;
    border-top: 1px solid #EEE;
    font-size: 0.6rem;
    // line-height: 2rem;
    .nav-item{
        text-align: center;
    }
    .navbar-icon{
        // width: 2rem;
        // height: 2rem;
        // background: #CCC;
        display: block;
        font-size: 1.5rem;
    }
}