.banner-container{
    width: 100%;
    height: 4rem;
    overflow: hidden;
    position: relative;
}
.banner{
    height: 4rem;
    transition: all .4s;
    -webkit-transition: all .4s;
    position: absolute;
    .banner-item{
        width: 20%;
        height: 4rem;
        background: #FFF;
        float: left;
    }
    .banner-img{
        width: 100%;
        // height: 100%;
        height: 4rem;
    }
    .banner-active-item{
        display: inline-block;
        transition: width 0.5s;
        -moz-transition: width 0.5s;	/* Firefox 4 */
        -webkit-transition: width 0.5s;	/* Safari 和 Chrome */
        -o-transition: width 0.5s;	/* Opera */
    }
}